body {
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
  background-color: mintcream;
}

header {
  padding-bottom: 0;
  border-top: 30px solid darkslategray;
  border-bottom: 30px solid darkslategray;
  background-color: ivory;
  margin-top: 8px; 
  margin-bottom: 75px;
  text-align: center;
}

h1 {
  color: darkslateblue;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  color: darkslategray;
  font-weight: 600;
}

h2#faqheading {
  margin-top: 55px;
}

h3 {
  color: darkslateblue;
  font-weight: 700;
}

h3#scheduleheader {
  margin-top: 55px;
  text-align: center;
}

a {
  color: darkslateblue;
}

nav ul {
  padding-left: 0;
  border-top: 4px solid darkslategray;
  background-color: ivory;
  display: flex;
  justify-content: center;
  gap: 30px; 
  list-style: none;
}

nav ul li a {
  font-size: 18px;
  font-weight: 600;
  padding: 6px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

div#topcontent {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

div#topcontent p {
  max-width: 50%;
}

div#scheduletop {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

div#scheduletable {
  color: darkslateblue;
  width: 96%;
  max-width: 1020px;
  padding: 15px;
  border: 5px solid darkslategray;
  background-color: ivory;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

div#faq {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

div#faq p {
  max-width: 50%;
}

p.dayofweek {
  font-weight: bold;
}

p#disclaimer {
  font-weight: 600;
}

figure {
  width: 38%;
  max-width: 450px;
  height: auto;
  padding: 20px; 
  float:right; 
}

figure img {
  width: 100%;
  height: auto;
}

footer#page-footer {
  color: darkslateblue;
  font-weight: 600;
  border-top: 30px solid darkslategray;
  border-bottom: 30px solid darkslategray;
  background-color: ivory;
  margin-top: 75px;
  text-align: center;
}
