body {
  font-family: sans-serif;
}

header {
  border-bottom: 20px solid darkgreen;
  margin-bottom: 80px;
  text-align: center;
}

h1 {
  color: blue;
  font-family: sans-serif;
  text-transform: uppercase;
}

h2 {
  color: navy;
  font-family: sans-serif;
}

h3 {
  color: darkslategray;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  max-width: 40%;
  max-height: auto;
  float:right;
  padding: 20px;  
}

figure img {
  width: 100%;
  height: auto;
}

div#topcontent {
  max-width: 50%;
  border-bottom: 5px solid darkgreen;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 50px;
}

div#faq {
  max-width: 50%;
  margin-left: 10px;
  margin-right: 50px; 
}

p#dayofweek {
  font-weight: bold;
}

p#pleasenote {
  font-weight: bold;
}

footer#page-footer {
  border-top: 20px solid darkgreen;
  margin-top: 80px;
  text-align:center;
}
