h1 {
  color: blue;
  font-family: sans-serif;
}

h2 {
  color: blue;
  font-family: sans-serif;
}

h3 {
  color: blue;
  font-family: sans-serif;
}


figure {
  max-width: 20%;
  max-height: auto;
  float:right;
  padding: 20px;  
}

figure img {
  width: 100%;
  height: auto;
}

li.listsubhead {
  color: navy;
  margin-top: 15px;
  list-style-type: none;
}

li.listschedule {
  margin-left: 15px;
  list-style-type: none;
}
