body {
  font-family: sans-serif;
}

header {
  border-top: 20px solid darkslategray;
  border-bottom: 20px solid darkslategray;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  color: navy;
  font-family: sans-serif;
  text-transform: uppercase;
}

h2 {
  color: navy;
  font-family: sans-serif;
}

h3 {
  color: darkslategray;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p#disclaimer {
  color:gray;
}

p#pleasenote {
  font-weight: bold;
}

p.dayofweek {
  font-weight: bold;
}

figure {
  width: 33%;
  max-width: 500px;
  height: auto;
  float:right;
  padding: 20px;  
}

figure img {
  width: 100%;
  height: auto;
}

div#faq {
  border-top: 20px solid darkslategray;
  margin-top: 60px;
}

footer#page-footer {
  border-top: 20px solid darkslategray;
  margin-top: 80px;
  text-align:center;
}
