body {
  font-family: sans-serif;
}

header {
  border-bottom: 20px solid darkslategray;
  margin-bottom: 80px;
  text-align: center;
}

h1 {
  color: navy;
  font-family: sans-serif;
  text-transform: uppercase;
}

h2 {
  color: navy;
  font-family: sans-serif;
}

h3 {
  color: darkslategray;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  max-width: 33%;
  max-height: auto;
  float:right;
  padding: 20px;  
}

figure img {
  width: 100%;
  height: auto;
}

div#topcontent {
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 50px;
}

div#schedule {
  display:flex;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid darkslategray; 
  padding: 20px;
}

div#faq {
  margin-left: 10px;
  margin-right: 50px; 
}

hr {
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: darkslategray;
}

p#pleasenote {
  font-weight: bold;
}

p.dayofweek {
  font-weight: bold;
}

footer#page-footer {
  border-top: 20px solid darkslategray;
  margin-top: 80px;
  text-align:center;
}
