body {
  font-family: sans-serif;
}

header {
  border-top: 20px solid darkslategray;
  border-bottom: 20px solid darkslategray;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  color: navy;
  font-family: sans-serif;
  text-transform: uppercase;
}

h2 {
  color: navy;
  font-family: sans-serif;
}

h3 {
  color: darkslategray;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#topcontent {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

div#topcontent p {
  max-width: 50%;
}

div#schedule {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 5px solid darkslategray;
  padding: 15px;
}

div#faq {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

div#faq p {
  max-width: 50%;
}

p.dayofweek {
  font-weight: bold;
}

p#disclaimer {
  color:darkgray;
}

figure {
  width: 33%;
  max-width: 450px;
  height: auto;
  float:right;
  padding: 20px;  
}

figure img {
  width: 100%;
  height: auto;
}

hr {
  background-color: darkslategray;
  height: 5px; 
  margin-top: 30px;
  margin-bottom: 30px; 
}

footer#page-footer {
  border-top: 20px solid darkslategray;
  margin-top: 80px;
  text-align:center;
}
