body {
  font-weight: 400;
  font-family: 'Cabin', sans-serif;
  background-color: mintcream;
}

header {
  border-top: 20px solid darkslategray;
  border-bottom: 20px solid darkslategray;
  background-color: ivory;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  color: darkslateblue;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  color: darkslategray;
  font-weight: 600;
}

h3 {
  color: darkslateblue;
  font-weight: 700;
}

h3#scheduleheader {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  padding-left: 0;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  background-color: ivory;
  display: flex;
  justify-content: center;
  gap: 30px; 
  list-style: none;
}

nav ul li a {
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

nav ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid darkslategray;
}

div#topcontent {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

div#topcontent p {
  max-width: 50%;
}

div#schedule {
  color: darkslateblue;
  width: 96%;
  max-width: 1020px;
  padding: 15px;
  border: 5px solid darkslategray;
  background-color: ivory;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

div#faq {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

div#faq p {
  max-width: 50%;
}

p.dayofweek {
  font-weight: bold;
}

p#disclaimer {
  font-weight: 600;
}

figure {
  width: 33%;
  max-width: 450px;
  height: auto;
  padding: 20px; 
  float:right; 
}

figure img {
  width: 100%;
  height: auto;
}

hr {
  height: 5px; 
  background-color: darkslategray;
  margin-top: 60px;
  margin-bottom: 30px; 
}

footer#page-footer {
  color: darkslateblue;
  font-weight: 600;
  border-top: 20px solid darkslategray;
  border-bottom: 20px solid darkslategray;
  background-color: ivory;
  margin-top: 80px;
  text-align: center;
}
