h1#site-title{
  color: navy;
  font-family: sans-serif;
  font-size: 72px;
  text-align: center;
}

h1#article-title{
  color: navy;
  font-family: sans-serif;
  font-size: 48px;
}

h2 {
  margin-bottom: 0;
  margin-top: 48px;
}

a {
  color: navy;
  font-weight: bold;
  font-family: sans-serif;
}

figure {
  border: 1px solid navy;
  background: beige;
  padding: 20px;
}

figure img {
  max-width: 100%;
  height: auto;
}

figure.main-image {
  margin-bottom: 32px;
}

figure.section-image {
  float: right;
  margin-top: -20px;
  margin-left: 30px;
}

figcaption {
  color: navy;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

nav ul {
  background-color: beige;
  display: flex;
  justify-content: center;
  gap: 30px; 
  list-style: none;
  padding-left: 0;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
}

nav ul li a {
  text-decoration: none;
  padding: 8px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid navy;
  padding-bottom: 5px;
}