body {
  font-family: 'Lexend', sans-serif;
}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.small-container {
  width: 92%;
  max-width: 768px;
  margin: 0 auto;
}

a {
  color: navy;
  font-weight: 400;
}

h1#site-title {
  color: navy;
  font-size: 72px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1#article-title {
  color: navy;
  font-size: 50px;
  font-weight: 600;
  margin-top: 76px;
  margin-bottom: 22px;
}

h2 {
  color: navy;
  font-weight: 600;
  margin-top: 48px;
  margin-bottom: 0;
}

nav ul {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  background-color: beige;
  list-style: none;
  text-align:center;
}

@media all and (min-width: 601px) {
  nav ul {
  display: flex;
  justify-content: center;
  gap: 30px; 
  }
}

nav ul li a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

figure {
  padding: 20px;
}

figure.main-image {
  max-width: 80%;
  height: auto;
  border: 16px solid navy;
  background-color: beige;
  margin-bottom: 32px;
}

figure.section-image {
  max-width: 35%;
  height: auto;
  border: 4px solid navy;
}

@media all and (min-width: 431px) {
  figure.section-image {
  float: right;
  margin-top: -24px;
  margin-left: 30px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-weight: 400; 
}

p {
  font-weight: 400;
}

footer#page-footer {
  border-top: 3px solid navy;
  margin-top: 80px;
  text-align:center;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}