h1#site-title{
  color: navy;
  font-family: sans-serif;
  font-size: 72px;
  text-align: center;
}

h1#article-title{
  color: navy;
  font-family: sans-serif;
  font-size: 48px;
}

a {
  color: navy;
  font-weight: bold;
  font-family: sans-serif;
}

figure.main-image {
  max-width: 40%;
  max-height: auto;
  background: beige;
  border: 6px solid navy;
  padding: 20px;  
}

figure.section-image {
  max-width: 40%;
  max-height: auto;
  margin-bottom: 10px;
}

figure.section-image.odd {
  float: right;
  margin-left: 20px;
}

figure-section-image.even {
  float: left;
  margin-left: 20px; 
}

p {
  font-family: sans-serif;
}

figure img {
  width: 100%;
  height: auto;
}

nav ul {
  background-color: beige;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav ul li a {
  text-decoration: none;
  padding: 8px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid navy;
  padding-bottom: 5px;
}