h1 {
  color: red;
  font-family: sans-serif;
}

article {
  width: 380px;
}

figure {
  width: 150px;
  height: 100px;
  border: 6px solid blue;
  padding: 20px;  
}

figure img {
  width: 100%;
  height: auto;
}

p img {
  float: left;
  width: 30%;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 6px solid silver;
}

p {
  color: green;
  font-family: sans-serif;
}