h1 {
  color: red;
  font-family: sans-serif;
}

article {
  width: 600px;
}

figure {
  width: 300px;
  height: 200px;
  border: 6px solid blue;
  padding: 20px;  
}

figure img {
  width: 100%;
  height: auto;
}

p img {
  float: left;
  width: 200px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 15px;
  border: 6px solid silver;
}

p {
  color: green;
  font-family: sans-serif;
}