article {
  max-width: 90%;
}

h1 {
  color: red;
  font-family: sans-serif;
}

figure {
  max-width: 40%;
  max-height: auto;
  border: 6px solid blue;
  padding: 20px;  
}

p {
  color: green;
  font-family: sans-serif;
}

figure img {
  width: 100%;
  height: auto;
}

p img {
  float: right;
  max-width: 30%;
  max-height: auto;
  margin-left: 20px;
  margin-bottom: 10px;
  border: 6px solid silver;
}