.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.small-container {
  width: 92%;
  max-width: 768px;
  margin: 0 auto;
}

h1#site-title{
  color: navy;
  font-family: sans-serif;
  font-size: 72px;
  text-align: center;
}

h1#article-title{
  color: navy;
  font-family: sans-serif;
  font-size: 48px;
}

h2 {
  margin-bottom: 0;
  margin-top: 48px;
}

a {
  color: navy;
  font-weight: bold;
  font-family: sans-serif;
}

figure {
  margin: 0;
  border: 1px solid navy;
  background: beige;
  padding: 12px;
  padding-bottom: 24px;
}

figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

figure.main-image {
  margin-bottom: 32px;
}

figure.section-image {
  max-width: 320px;
  float: right;
  margin: -20px -62px 32px 20px;
}

p {
  font-family: sans-serif;
}

nav ul {
  background-color: beige;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav ul li a {
  text-decoration: none;
  padding: 8px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid navy;
  padding-bottom: 5px;
}