body {
  font-family: 'Lexend', sans-serif;
}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.small-container {
  width: 92%;
  max-width: 768px;
  margin: 0 auto;
}

h1#site-title{
  color: navy;
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 18px;
  margin-top: 0;
  text-align: center;
}

h1#article-title{
  color: navy;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 22px;
  margin-top: 48px;
}

h2 {
  color: navy;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 48px;
}

a {
  color: navy;
}

a#encyc {
  text-decoration: none;
}

a#encyc:hover {
  text-decoration: underline;
}

figure {
  padding: 20px;
}

figure img {
  width: 100%;
  height: auto;
}

figure.main-image {
  max-width: 80%;
  max-height: auto;
  border: 16px solid navy;
  background: beige;
  margin-bottom: 32px;
}

figure.section-image {
  max-width: 35%;
  max-height: auto;
  border: 4px solid navy;
  float: right;
  margin-top: -22px;
  margin-left: 30px;
}

figcaption {
  font-weight: 500; 
}

nav ul {
  background-color: beige;
  display: flex;
  justify-content: center;
  gap: 30px; 
  list-style: none;
  padding-left: 0;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
}

nav ul li a {
  text-decoration: none;
  padding: 8px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid navy;
  padding-bottom: 5px;
}

footer#page-footer {
  text-align:center;
  margin-top: 80px;
  border-top: 3px solid navy;
}